<div class="row mb-1 custom-border">
    <div class="col-md-2 border-right m-0">
            <img src="assets/ecom.png">
    </div>
    <div class="col-md-4 border-right m-0">
        <div class="col">
            <div class="row">
                <div class="col-md-1"><i class="fa fa-info-circle"></i></div>
                <div class="col-md-11">Code article</div>
            </div>
            <div class="row">
                <div class="mr-2"><i class="fa fa-info-circle"></i></div>
                <div>Designation</div>
            </div>
            <div class="row">
                <div class="mr-2"><i class="fa fa-usd"></i></div>
                <div>Prix HT</div>
            </div>
            <div class="row">
                <div class="mr-2"><i class="fa fa-usd"></i></div>
                <div>Prix TTC</div>
            </div>
        </div>
    </div>
    <div class="col-md-3 m-0">ff</div>
    <div class="col-md-3 m-0">ff</div>
</div>
