<div class="row mb-1 mr-0 custom-border">
    <div class="col-md-1 border-right p-1 text-center">
            <img src="/src/assets/product.png" width="100px" height="100px" alt="grains of wheats" />
    </div>

    <!--  Details Article -->
    <div class="col-md-5 border-right">
        <div class="col">
            <div class="row">
                <div class="col-md-1"><i class="fa fa-info-circle blue-color"></i></div>
                <div class="col-md-11">Nom</div>
            </div>
            <div class="row">
                <div class="col-md-1"><i class="fa fa-info-circle blue-color"></i></div>
                <div class="col-md-11">Prenom</div>
            </div>
            <div class="row">
                <div class="col-md-1"><i class="fa fa-phone blue-color"></i></div>
                <div class="col-md-11">8011 22 33 44 55 66</div>
            </div>
        </div>
    </div>

    <!--   Details Categorie -->
    <div class="col-md-3 border-right mb-1 mt-1">
        <div class="col">
            <div class="row">
                <div class="col-md-1"><i class="fa fa-home blue-color"></i></div>
                <div class="col-md-11">Adresse 1 Adresse 2</div>
            </div>
            <div class="row">
                <div class="col-md-1"><i class="fa fa-map-marker blue-color"></i></div>
                <div class="col-md-11">12345 Ville</div>
            </div>
            <div class="row">
                <div class="col-md-1"><i class="fa fa-globe blue-color"></i></div>
                <div class="col-md-11">Pays</div>
            </div>
        </div>
    </div>

    <!-- buttons Action -->
    <div class="col-md-3 ">
        <div class="row">
            <div class="col-md-4">
                <button type="button" class="btn btn-link ">
                    <i class="fa fa-pencil" aria-hidden="true"></i>
                    &nbsp;Modifier
                </button>
            </div>
            <div class="col-md-4">
                <button type="button" class="btn btn-link "><i class="fa fa-trash-o" aria-hidden="true"></i>
                    &nbsp;Supprimer
                </button>
            </div>
            <div class="col-md-4">
                <button type="button" class="btn btn-link "><i class="fa fa-list-alt" aria-hidden="true"></i>
                    &nbsp;&nbsp;Details
                </button>
            </div>
        </div>
    </div>
</div>
